.style-module__lg-8DW__input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}.style-module__lg-8DW__input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
.weightedScoreSliderTrack{background:var(--color-util-colors-blue-light-blue-light-500)!important}.weightedScoreSliderTrack-1{background:0 0!important}
