.monaco-editor{background-color:#0000!important;outline:none!important}.monaco-editor .monaco-editor-background,.monaco-editor .margin{background-color:#0000!important}.monaco-editor-overlaymessage{display:none!important}
